<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="uploadFiles" class="cn.edu.swu.service.impl.Upload1"/>
    <context:property-placeholder location="path.properties"/>
    <bean id="upload" class="cn.edu.swu.service.impl.Upload1">
        <property name="txtPath" value="${path.txt}"/>
        <property name="picPath" value="${path.pic}"/>
    </bean>
</beans>